<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="card">
  <h2>Welcome 👋</h2>
  <p style="text-align:center; margin:15px 0;">
    Student Course Registration System
  </p>

  <a href="/courses">
    <button>View Courses</button>
  </a>

  <a href="/login">
    <button style="background:#e53e3e; margin-top:10px;">Logout</button>
  </a>
</div>

</body>
</html>
